<%= @user.email %></br>
<% @user.projects.each do |project| %>
  <p> Project </p>
  <%= project.title %><br/>
  <p> Pledges </p>
  <% project.breakpoints.each do |breakpoint| %>
    <%= breakpoint.pledge %>
  <% end %>
<% end %>

<% pledge_total = 0 %>
<p>Total amount of pledges</p>
<% @user.pledges.each do |target| %>
  <% pledge_total += target.breakpoint.pledge %>
<% end %>
<%= pledge_total %>