/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
body {
	margin: 0;
	background-color: #E5DBCB;
}
.left-panel{
  float: left;
  position: 100px 100px 200px 200px;
  padding: 12px;
  background-color: white;
  height: 70%;
  width: 30%;
  margin-left: 30px;

}

#projectBreakpoints {
	float: right;
	margin-right: 100px;
	width: 40%;
}

.container2 {
	/*height: 100%;*/
  width: 960px;
  margin: 90px auto 0 auto;
  border-radius: 5px;
  padding: 10px;
  background: #FFFFFF;
  font-family: Geneva;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.action {
  clear: both;
  margin-left: 15px;
}

.projects {
  clear: both;
}

#project_start_date_1i {
  width: 17%;
  margin-right: 1%;
}

#project_start_date_2i {
  width: 17%;
  margin-right: 1%
}

#project_start_date_3i {
  width: 17%;
  margin-right: 1%
}

#project_start_date_4i {
  width: 17%;
  margin-right: 1%
}

#project_start_date_5i {
  width: 17%;
}